templates/pipeline1/pipeline1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"ls_storage_account_medallion": {
			"type": "string"
		},
		"ls_to_git": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_adls_medalion",
								"type": "DatasetReference",
								"parameters": {
									"file_name_for_meta_data": "*"
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@{\n    item().name\n}",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ds_adls_medalion",
											"type": "DatasetReference",
											"parameters": {
												"file_name_for_meta_data": "*"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ds_adls_sink",
											"type": "DatasetReference"
										}
									]
								}
							]
						}
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "index",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "index",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "airline",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "airline",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "flight",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "flight",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source_city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source_city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "departure_time",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "departure_time",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "stops",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "stops",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "arrival_time",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "arrival_time",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "destination_city",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "destination_city",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "class",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "class",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "duration",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "duration",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "days_left",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "days_left",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {
									"file_name": "airlines_flights_data.csv"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText3",
								"type": "DatasetReference",
								"parameters": {
									"save_file_name": "airlines_flights_data.csv"
								}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_adls_medalion')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText3')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_sink')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_medalion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_storage_account_medallion')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_name_for_meta_data": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().file_name_for_meta_data",
							"type": "Expression"
						},
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_to_git')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"file_name": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "CodeStarkz/Blanket_Data_Pipeline/refs/heads/main/@{\n    dataset().file_name\n}",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "index",
						"type": "String"
					},
					{
						"name": "airline",
						"type": "String"
					},
					{
						"name": "flight",
						"type": "String"
					},
					{
						"name": "source_city",
						"type": "String"
					},
					{
						"name": "departure_time",
						"type": "String"
					},
					{
						"name": "stops",
						"type": "String"
					},
					{
						"name": "arrival_time",
						"type": "String"
					},
					{
						"name": "destination_city",
						"type": "String"
					},
					{
						"name": "class",
						"type": "String"
					},
					{
						"name": "duration",
						"type": "String"
					},
					{
						"name": "days_left",
						"type": "String"
					},
					{
						"name": "price",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_storage_account_medallion')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"save_file_name": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().save_file_name",
							"type": "Expression"
						},
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_sink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('ls_storage_account_medallion')]",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{\n    utcNow()\n    }",
							"type": "Expression"
						},
						"folderPath": "sample",
						"fileSystem": "gold"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		}
	]
}