pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy data2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_medalion",
						"type": "DatasetReference",
						"parameters": {
							"file_name_for_meta_data": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@{\n    item().name\n}",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls_medalion",
									"type": "DatasetReference",
									"parameters": {
										"file_name_for_meta_data": "*"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_sink",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "index",
									"type": "Int32",
									"physicalType": "String"
								},
								"sink": {
									"name": "index",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "airline",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "airline",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "flight",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "flight",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "source_city",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source_city",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "departure_time",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "departure_time",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "stops",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "stops",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "arrival_time",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "arrival_time",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "destination_city",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "destination_city",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "class",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "class",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "duration",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "duration",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "days_left",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "days_left",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "price",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "price",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText2",
						"type": "DatasetReference",
						"parameters": {
							"file_name": "airlines_flights_data.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText3",
						"type": "DatasetReference",
						"parameters": {
							"save_file_name": "airlines_flights_data.csv"
						}
					}
				]
			}
		],
		"annotations": []
	}
}